.button{
    background-color: white;
    height: 40px;
    width: 256px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    opacity: 0.85;
    text-align: center
}

.button>a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    text-align: center;
}

.button__white{
    background-color: rgba(23,26, 32, 0.8);
    opacity: 0.65;
}

.button__white>a{
    color: white
}

@media screen and (max-width: 768px) {
    .items__buttons {
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
  
    .button {
        height: 40px;
        margin: 8px;
        flex-grow: 1; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        opacity: 0.85;
        text-align: center;
        border-radius: 5px;
        letter-spacing: 1px;
    }
  }