.header{
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 15px;
    margin-top: 15px;
    z-index: 100;
}

.header__logo{
    height: 24px;
    width: 100px;
    margin-top: 7px;
}

.header__center{
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__center>p{
    margin: 20px;
    font-size: 16px;
}

.header__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    gap: 10px
}


@media screen and (max-width: 768px) {
    .header__center,
    .header__right {
    display: none;
  }
}