.item{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.items__container{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__text{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #393c41;
    align-items: center;
    flex: 1;
    letter-spacing: 0.5px;
}

.item__textDesc{
    font-weight:200 ;
    font-size: 18px;
    
}

.item__lowerThird{
    margin-bottom: 5%;
    display: flex;
    text-align: center;
}

.items__buttons{
    display: flex;
}

/* .item__expand {
    color: white;
    width: 100%;
    margin-top: 3%;
    justify-content: center;
} */

@media screen and (max-width: 768px) {
  
    .items__container {
      width: 80vw; 
    }
    .item__text {
      font-size: 40px; 
    }
    .item__lowerThird {
        margin-bottom: 5%;
        display: flex;
        justify-content: center; 
        text-align: center; 
        flex-wrap: wrap;
    }
    
    .items__buttons {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        width: 100%;
    }
  }
  